




<%# This is the block that displays the error messages. %>
<%= form_with(model: order) do |form| %>

  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <!-- <div class="field">

    <%# <%= form.collection_select :customer_id, Customer.all, :id, :full_name, include_blank: true %> %>

</div> -->



  <div class="field">
    <%= form.label :Customer %>
    <%= form.collection_select :customer_id, Customer.all, :id, :full_name, include_blank: true %>

    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :product_count %>
    <%= form.text_field :product_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%# create the dropdown list for choosing the customer for the order %>
<%# <%= f.collection_select :customer_id, Customer.all, :id, :full_name, include_blank: true %>
